body{
    text-align: center;
    font-family: sans-serif;
    
}
h1{
    font:bold;
    width: 50%;
    margin: 0 auto 0 auto ;
    font-size: 60px;
    line-height: 2;
}
/* 16px = 100% =1em*/

.p1{
    font-size: 2.5rem;
    font-weight: normal;
}
.greeting{
    height: 200px;
    width: 200px;
    border-radius: 00%;
    background-color: yellowgreen;
}
.coding1{
    width: 25%;
    border-radius: 0% ;
    float: left;
    padding-right: 20px;
    margin-right: 20px;
    margin: auto 100 auto 100;
}

.coding2{   
    width: 25%;
    border-radius: 0% ;
    float: right;
    margin-left: 20px;
    padding-left: 20px;
    margin: auto 100 auto 100;
}

.top-container{
  
    background-color:whitesmoke;

}


.cloud_yo{
    background-color:whitesmoke;
    width: 100px;
    height: 100px;
    position: relative;
    left: 180px;
}

.cloud_yo1{
    background-color:whitesmoke;
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 320px;
    right: 110px;
}

.mountain_yo{
    background-color:whitesmoke;
    width: 300px;
    height: 300px;
    position: relative;
    right: 40px;
 

}


.pro{
    text-decoration: underline;
}


.skill-row1{
    height: 50%;
    width: 50%;
    margin: auto;
    text-align: left;
    line-height: 2;
    margin-bottom: 50px;

}


.skill-row2{
    height: 50%;
    width: 50%;
    margin: auto;
    text-align: right;
    line-height: 2;
    margin-bottom: 70px;

}
/*
body{
    margin: 0px;

}
 
h1{
    margin-top: 0px;
}

.middle-container{
    width: 200px;
    height: 200px;
    margin-left: 260px;
    border: 20px;
    border-color: black;
    border-style: solid;
    background-color: yellowgreen;
}

.bottom-container{
    width: 200px;
    height: 200px;
    border: 10px;
    border-color: black;
    background-color: blue;
    border-style: solid;
    margin-left: 480px;
}
*/